<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">I.Bonaldi's Blog</h1>
    <p class="lead blog-description">I already know a lot about it. And I'm learning it ALL again in another language, with another framework. And still looks fun.</p>
    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>