<footer class="text-muted bg-dark">
  <div class="container text-white">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p><%= copyright_generator %></p>
  </div>
</footer>