<h1>Pages#about</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Dts_news_bill_gates_wikipedia.JPG" alt="Bill Gates" width="300"> -->

    <%= image_tag "profile.jpg", width: 300, alt: "Bill Gates" %>
  </div>
  <div class="col-md-8">
    <p>Find me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erbFind me in app/views/pages/about.html.erb</p>
  </div>
</div>


