<div class="inner cover">
  <h1 class="cover-heading">Welcome to my Portfolio!</h1>
  <p class="lead">Sed tempor est mattis molestie rhoncus. In hac habitasse platea dictumst. Nulla tempus orci in nunc euismod commodo. Quisque vestibulum eros sed diam vehicula scelerisque. Suspendisse vel vestibulum metus. Nullam feugiat, nisi eu hendrerit porta, augue odio facilisis lacus, sit amet eleifend risus magna quis purus. Donec vestibulum nibh non sapien mollis bibendum. Quisque sed urna sed sapien iaculis posuere.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary"%>
    <!---<a href="<%= about_path %>" class="btn btn-lg btn-secondary">Learn more</a>--->
  </p>
</div>